 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, odio?</p>
            </div>
        </div>
    </header>

 